<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <meta charset="utf-8" />
    <title>Confirmation d'ajout</title>

</head>
<body>
<p></p><br />
<div layout:fragment="content">
    <div class="container">
        <div class="panel panel-default">
            <div >Confirmation</div> <br/>
            <div class="panel-body">
                <div >
                    <label>ID: </label>
                    <label th:text="${post.id}"></label>
                </div>
                <div class="form-group">
                    <label>Title : </label>
                    <label th:text="${post.title}"></label>
                </div>
                <div class="form-group">
                    <label>Content : </label>
                    <label th:text="${post.content}"></label>
                </div>
                <div class="form-group">
                    <label>Imagee : </label>
                    <label th:text="${post.image}"></label>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>