<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <meta charset="utf-8" />
    <title>Confirmation d'ajout</title>
</head>
<body>
<p></p><br />
<div layout:fragment="content">
    <div class="container">
        <div class="panel panel-default">
            <div>Confirmation</div> <br/>
            <div class="panel-body">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                <div>
                    <label>ID: </label>
                    <label th:text="${postdto.id}"></label>
                </div>
                <div class="form-group">
                    <label>Title : </label>
                    <label th:text="${postdto.title}"></label>
                </div>
                <div class="form-group">
                    <label>Content : </label>
                    <label th:text="${postdto.content}"></label>
                </div>
                <div class="form-group">
                    <label>Image : </label>
                    <img th:src="'data:image/jpeg;base64,' + ${postdto.image}" style="width: 100px; height: 100px;" />
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
