<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>
	<meta charset="utf-8" />
	<title>Post Details</title>
	<link href="/output.css" rel="stylesheet">
</head>
<body class="bg-gray-100 text-gray-900 antialiased">
<section class="mx-auto max-w-5xl px-4 sm:px-6 xl:px-0">
	<div class="flex h-screen flex-col justify-between font-sans">
		<header class="flex items-center justify-between py-10">
			<div><a aria-label="TailwindBlog" href="/">
				<div class="flex items-center justify-between">
					<div class="mr-3">
						<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="53.87"
						     height="43.61" viewBox="344.564 330.278 111.737 91.218">
							<defs>
								<linearGradient id="logo_svg__b" x1="420.97" x2="420.97" y1="331.28" y2="418.5"
								                gradientUnits="userSpaceOnUse">
									<stop offset="0%" style="stop-color:#06b6d4;stop-opacity:1"></stop>
									<stop offset="100%" style="stop-color:#67e8f9;stop-opacity:1"></stop>
								</linearGradient>
								<linearGradient id="logo_svg__d" x1="377.89" x2="377.89" y1="331.28" y2="418.5"
								                gradientUnits="userSpaceOnUse">
									<stop offset="0%" style="stop-color:#06b6d4;stop-opacity:1"></stop>
									<stop offset="100%" style="stop-color:#67e8f9;stop-opacity:1"></stop>
								</linearGradient>
								<path id="logo_svg__a" d="M453.3 331.28v28.57l-64.66 58.65v-30.08z"></path>
								<path id="logo_svg__c" d="M410.23 331.28v28.57l-64.67 58.65v-30.08z"></path>
							</defs>
							<use xlink:href="#logo_svg__a" fill="url(#logo_svg__b)"></use>
							<use xlink:href="#logo_svg__c" fill="url(#logo_svg__d)"></use>
						</svg>
					</div>
					<div class="hidden h-6 text-2xl font-semibold sm:block">SpringBlog</div>
				</div>
			</a></div>
			<div class="flex items-center space-x-4 leading-5 sm:space-x-6"><a
					class="hidden font-medium text-gray-900  sm:block" href="/blog">Blog</a><a
					class="hidden font-medium text-gray-900  sm:block" href="/categories">Categories</a><a
					class="hidden font-medium text-gray-900  sm:block" href="/about">About</a>
				<a href="/logout" class="inline-block px-10 py-4 text-lg sm:block font-bold text-white bg-gradient-to-r from-red-500 to-red-700 rounded-full shadow-lg transform transition-transform duration-300 hover:from-red-600 hover:to-red-800 hover:scale-105 active:from-red-700 active:to-red-900">
					Logout
				</a>


			</div>
		</header>
		<main class="mb-auto">
			<script type="application/ld+json">{
				"@context": "https://schema.org",
				"@type": "BlogPosting",
				"headline": "Release of Tailwind Nextjs Starter Blog v2.0",
				"datePublished": "2023-08-05T00:00:00.000Z",
				"dateModified": "2023-08-05T00:00:00.000Z",
				"description": "Release of Tailwind Nextjs Starter Blog template v2.0, refactored with Nextjs App directory and React Server Components setup.Discover the new features and how to migrate from V1.",
				"image": "/static/images/twitter-card.png",
				"url": "https://tailwind-nextjs-starter-blog.vercel.app/blog/release-of-tailwind-nextjs-starter-blog-v2.0",
				"author": [
					{
						"@type": "Person",
						"name": "Tails Azimuth"
					}
				]
			}</script>
			<section class="mx-auto max-w-3xl px-4 sm:px-6 xl:max-w-5xl xl:px-0">
				<div class="fixed bottom-8 right-8 hidden flex-col gap-3 md:flex">
					<button aria-label="Scroll To Comment" class="rounded-full bg-gray-200 p-2 text-gray-500 transition-all hover:bg-gray-300">
						<svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
							<path fill-rule="evenodd" d="M18 10c0 3.866-3.582 7-8 7a8.841 8.841 0 01-4.083-.98L2 17l1.338-3.123C2.493 12.767 2 11.434 2 10c0-3.866 3.582-7 8-7s8 3.134 8 7zM7 9H5v2h2V9zm8 0h-2v2h2V9zM9 9h2v2H9V9z" clip-rule="evenodd"></path>
						</svg>
					</button>
					<button aria-label="Scroll To Top" class="rounded-full bg-gray-200 p-2 text-gray-500 transition-all hover:bg-gray-300">
						<svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
							<path fill-rule="evenodd" d="M3.293 9.707a1 1 0 010-1.414l6-6a1 1 0 011.414 0l6 6a1 1 0 01-1.414 1.414L11 5.414V17a1 1 0 11-2 0V5.414L4.707 9.707a1 1 0 01-1.414 0z" clip-rule="evenodd"></path>
						</svg>
					</button>
				</div>
				<article>
					<div class="xl:divide-y xl:divide-gray-200">
						<header class="pt-6 xl:pb-6">
							<div class="pt-4 xl:pt-8">
								<a class="text-primary-500 hover:text-primary-600" aria-label="Back to the blog" href="/blog">← Back to the blog</a>
							</div>
							<div class="space-y-1 text-center">
								<dl class="space-y-10">
									<div>
										<dt class="sr-only">Published on</dt>
										<dd class="text-base font-medium leading-6 text-gray-500">
											<time th:datetime="${post.postedOn}" th:text="'Published by ' + ${post.author.username} + ' on ' + ${#dates.format(post.postedOn, 'EEEE, MMMM d, yyyy')}"></time>
										</dd>
									</div>
								</dl>
								<div>
									<h1 th:text="${post.title}" class="text-3xl font-extrabold leading-9 tracking-tight text-gray-900 sm:text-4xl sm:leading-10 md:text-5xl md:leading-14"></h1>
								</div>
							</div>
							<div class="divide-gray-200 text-sm font-medium leading-5 xl:col-start-1 xl:row-start-2 xl:divide-y">
								<div class="py-4 xl:py-8">
									<h2 class="text-xs uppercase tracking-wide text-gray-500">Category</h2>
									<div class="flex flex-wrap">
										<a class="mr-3 text-sm font-medium uppercase text-primary-500 hover:text-primary-600" th:if="${post.category != null}" th:href="@{'/categories/'+${post.category.categoryName}+'/posts'}" th:text="${post.category.categoryName}"></a>
									</div>
								</div>
								<div th:if="${post.author.username==currentUser.username}" class="flex space-x-4 justify-center mt-6">
									<a th:href="@{'/edit?id='+${post.id}}" class="px-6 py-3 bg-gradient-to-r from-blue-500 to-indigo-500 text-white font-semibold rounded-full shadow-lg transition-transform transform hover:scale-105 hover:from-blue-600 hover:to-blue-800 focus:outline-none focus:ring-2 focus:ring-blue-500">
										Edit
									</a>
									<a onclick="return confirm('Are you sure you want to delete this post?')"
									   th:href="@{'/delete?id='+${post.id}}"
									   class="px-6 py-3 bg-gradient-to-r from-red-500 to-red-700 text-white font-semibold rounded-full shadow-lg transition-transform transform hover:scale-105 hover:from-red-600 hover:to-red-800 focus:outline-none focus:ring-2 focus:ring-red-500">
										Delete
									</a>
								</div>

							</div>
						</header>
						<div class="pt-10 pb-8">
							<img th:src="@{'/images/' + ${post.image}}" alt="Post Image"
							     class="w-full h-auto rounded-lg mb-6">
							<p th:text="${post.content}" class="text-lg leading-7 text-gray-700"></p>
						</div>
						<div class="pb-6 pt-6 text-center text-gray-700" id="comment">
							<div class="color-text-primary gsc-main">
								<div class="gsc-reactions mb-6">
									<h4 class="gsc-reactions-count">
										<a target="_blank" rel="noreferrer noopener nofollow" class="color-text-primary" th:text="${post.likedBy.size()} + ' user liked this post'"></a>
										<div style="display: inline-block; margin-left: 10px;">
											<div th:if="${post.isLikedByUser(currentUser)}">
												<a th:href="@{/unlike/{postId}(postId=${post.id})}" title="Dislike">
													<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
														<path fill-rule="evenodd" d="M8 3.278C7.312 1.508 5.04 1 3.434 2.136 1.825 3.272 1.642 5.522 3.25 6.682L8 9.538l4.75-2.856c1.608-1.16 1.425-3.41-.184-4.546C10.96 1 8.688 1.508 8 3.278z"/>
													</svg>
												</a>
											</div>
											<div th:unless="${post.isLikedByUser(currentUser)}">
												<a th:href="@{/like/{postId}(postId=${post.id})}" title="Like">
													<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
														<path fill-rule="evenodd" d="M8 3.278C7.312 1.508 5.04 1 3.434 2.136 1.825 3.272 1.642 5.522 3.25 6.682L8 9.538l4.75-2.856c1.608-1.16 1.425-3.41-.184-4.546C10.96 1 8.688 1.508 8 3.278zM8 15S3 9.69 1.343 6.319c-.344-.657-.47-1.398-.346-2.118.25-1.445 1.465-2.778 2.904-2.778 1.148 0 2.166.737 2.633 1.91h1.02c.467-1.173 1.485-1.91 2.633-1.91 1.44 0 2.654 1.333 2.904 2.778.124.72-.002 1.461-.346 2.118C13 9.691 8 15 8 15z"/>
													</svg>
												</a>
											</div>
										</div>
									</h4>
								</div>
								<div class="gsc-comments">
									<div class="gsc-header">
										<div class="gsc-left-header">
											<h4 class="gsc-comments-count color-text-primary" th:text="${post.comments.size()} + ' Comments'"></h4>
											<h4 class="gsc-comments-count-separator">--</h4>
										</div>
									</div>
									<div class="gsc-timeline">
										<div th:each="comment : ${comments}" class="gsc-comment mb-4">
											<div class="color-bg-primary w-full min-w-0 rounded-md border color-border-primary p-4">
												<div class="gsc-comment-header flex justify-between items-center">
													<div class="gsc-comment-author">
														<a rel="nofollow noopener noreferrer" target="_blank" class="gsc-comment-author-avatar">
															<span class="link-primary overflow-hidden text-ellipsis font-semibold" th:text="${comment.author.username}"></span>
														</a>
														<a rel="nofollow noopener noreferrer" target="_blank" class="link-secondary overflow-hidden text-ellipsis">
															<time th:text="${#temporals.format(comment.creationDate, 'MMMM d, yyyy')}"></time>
														</a>
														<div class="hidden text-xs leading-[18px] sm:inline-flex">
                                                            <span th:if="${comment.author.username == post.author.username}" class="color-box-border-info font-medium capitalize ml-1 rounded-xl border px-[7px]">
                                                                Author
                                                            </span>
															<span th:unless="${comment.author.username == post.author.username}" class="color-box-border-info font-medium capitalize ml-1 rounded-xl border px-[7px]">
                                                                User
                                                            </span>
														</div>
													</div>
													<form th:if="${#authentication.name == comment.author.username}" th:action="@{'/comment/delete/'+${comment.id}}" method="post">
														<input type="hidden" name="postId" th:value="${post.id}">
														<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
														<button type="submit" class="delete-button" title="Delete Comment">
															<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
																<path d="M5.5 5.5A.5.5 0 0 1 6 5h4a.5.5 0 0 1 0 1H6a.5.5 0 0 1-.5-.5zm1-3A.5.5 0 0 1 7 2h2a.5.5 0 0 1 0 1H7a.5.5 0 0 1-.5-.5zM4.118 1.471a.5.5 0 0 1 .765-.427L6.36 2H9.64l1.478-1.005a.5.5 0 0 1 .764.427l.537 1.861a.5.5 0 0 1-.491.628H4.072a.5.5 0 0 1-.491-.628l.537-1.861zM14.5 3a.5.5 0 0 1 .5.5v.5a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-.5a.5.5 0 0 1 .5-.5h13zm-1 1a.5.5 0 0 1 .5.5V12.5a1.5 1.5 0 0 1-1.5 1.5H4a1.5 1.5 0 0 1-1.5-1.5V4.5a.5.5 0 0 1 .5-.5h10zM6 5v7a.5.5 0 0 0 1 0V5a.5.5 0 0 0-1 0zm3 0v7a.5.5 0 0 0 1 0V5a.5.5 0 0 0-1 0z"/>
															</svg>
														</button>
													</form>
												</div>
												<div dir="auto" class="markdown gsc-comment-content mt-2">
													<p th:text="${comment.content}" dir="auto"></p>
												</div>
											</div>
										</div>
									</div>
								</div>
								<form th:action="@{'/comment/add/' + ${post.id}}" method="post" class="p-4 bg-white rounded-lg shadow-md max-w-lg mx-auto">
									<div class="mb-4">
										<label for="commentContent" class="block text-gray-700 font-semibold mb-2">Add a new comment</label>
										<textarea name="content" id="commentContent" required class="w-full h-24 p-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" placeholder="Type Your Comment"></textarea>
									</div>
									<div class="flex items-center justify-end">
										<button type="submit" class="px-4 py-2 bg-blue-500 text-white font-semibold shadow-md rounded-lg hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500">
											Post Comment
										</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</article>
			</section>
		</main>
		<footer class="mt-16">
			<div class="flex flex-col items-center">
				<div class="mb-2 flex space-x-2 text-sm text-gray-500">
					<div>Tails Azimuth</div>
					<div>•</div>
					<div>© 2024</div>
					<div>•</div>
					<a href="/">Next.js Starter Blog</a>
				</div>
				<div class="mb-8 text-sm text-gray-500">
					<a target="_blank" rel="noopener noreferrer" href="https://github.com/timlrx/tailwind-nextjs-starter-blog">Tailwind Nextjs Theme</a>
				</div>
			</div>
		</footer>
	</div>
</section>
</body>
</html>
