<html lang="en-us" class="__variable_587f35 scroll-smooth light" style="color-scheme: light;">
<head>
	<link rel="stylesheet" href="output.css">
</head>
<body class="bg-white pl-[calc(100vw-100%)] text-black antialiased  " style="">
<script>
    !function () {
        try {
            var d = document.documentElement, c = d.classList;
            c.remove('dark');
            c.add('light');
            d.style.colorScheme = 'light';
        } catch (e) {
            console.error(e);
        }
    }()
</script>

<section class="mx-auto max-w-3xl px-4 sm:px-6 xl:max-w-5xl xl:px-0">
	<div class="flex h-screen flex-col justify-between font-sans">
		<header class="flex items-center justify-between py-10">
			<div><a aria-label="TailwindBlog" href="/">
				<div class="flex items-center justify-between">
					<div class="mr-3">
						<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="53.87"
						     height="43.61" viewBox="344.564 330.278 111.737 91.218">
							<defs>
								<linearGradient id="logo_svg__b" x1="420.97" x2="420.97" y1="331.28" y2="418.5"
								                gradientUnits="userSpaceOnUse">
									<stop offset="0%" style="stop-color:#06b6d4;stop-opacity:1"></stop>
									<stop offset="100%" style="stop-color:#67e8f9;stop-opacity:1"></stop>
								</linearGradient>
								<linearGradient id="logo_svg__d" x1="377.89" x2="377.89" y1="331.28" y2="418.5"
								                gradientUnits="userSpaceOnUse">
									<stop offset="0%" style="stop-color:#06b6d4;stop-opacity:1"></stop>
									<stop offset="100%" style="stop-color:#67e8f9;stop-opacity:1"></stop>
								</linearGradient>
								<path id="logo_svg__a" d="M453.3 331.28v28.57l-64.66 58.65v-30.08z"></path>
								<path id="logo_svg__c" d="M410.23 331.28v28.57l-64.67 58.65v-30.08z"></path>
							</defs>
							<use xlink:href="#logo_svg__a" fill="url(#logo_svg__b)"></use>
							<use xlink:href="#logo_svg__c" fill="url(#logo_svg__d)"></use>
						</svg>
					</div>
					<div class="hidden h-6 text-2xl font-semibold sm:block">TailwindBlog</div>
				</div>
			</a></div>
			<div class="flex items-center space-x-4 leading-5 sm:space-x-6"><a
					class="hidden font-medium text-gray-900  sm:block" href="/blog">Blog</a><a
					class="hidden font-medium text-gray-900  sm:block" href="/tags">Tags</a><a
					class="hidden font-medium text-gray-900  sm:block" href="/projects">Projects</a><a
					class="hidden font-medium text-gray-900  sm:block" href="/about">About</a>
				<button aria-label="Search">
					<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
					     stroke="currentColor" class="h-6 w-6 text-gray-900 ">
						<path stroke-linecap="round" stroke-linejoin="round"
						      d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z"></path>
					</svg>
				</button>
				<div class="mr-5">
					<div class="relative inline-block text-left" data-headlessui-state="">
						<div>
							<button id="headlessui-menu-button-:Rn6jaja:" type="button" aria-haspopup="menu"
							        aria-expanded="false" data-headlessui-state="">
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
								     class="h-6 w-6 text-gray-900 ">
									<path fill-rule="evenodd"
									      d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z"
									      clip-rule="evenodd"></path>
								</svg>
							</button>
						</div>
					</div>
				</div>
				<button aria-label="Toggle Menu" class="sm:hidden">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
					     class="h-8 w-8 text-gray-900 ">
						<path fill-rule="evenodd"
						      d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
						      clip-rule="evenodd"></path>
					</svg>
				</button>
				<div class="fixed left-0 top-0 z-10 h-full w-full transform bg-white opacity-95 duration-300 ease-in-out   translate-x-full">
					<div class="flex justify-end">
						<button class="mr-8 mt-11 h-8 w-8" aria-label="Toggle Menu">
							<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
							     class="text-gray-900 ">
								<path fill-rule="evenodd"
								      d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
								      clip-rule="evenodd"></path>
							</svg>
						</button>
					</div>
					<nav class="fixed mt-8 h-full">
						<div class="px-12 py-4"><a
								class="text-2xl font-bold tracking-widest text-gray-900 " href="/">Home</a>
						</div>
						<div class="px-12 py-4"><a
								class="text-2xl font-bold tracking-widest text-gray-900 "
								href="/blog">Blog</a></div>
						<div class="px-12 py-4"><a
								class="text-2xl font-bold tracking-widest text-gray-900 "
								href="/tags">Tags</a></div>
						<div class="px-12 py-4"><a
								class="text-2xl font-bold tracking-widest text-gray-900 "
								href="/projects">Projects</a></div>
						<div class="px-12 py-4"><a
								class="text-2xl font-bold tracking-widest text-gray-900 "
								href="/about">About</a></div>
					</nav>
				</div>
			</div>
		</header>
		<main class="mb-auto">
			<div>
				<div class="pb-6 pt-6"><h1
						class="text-3xl font-extrabold leading-9 tracking-tight text-gray-900  sm:hidden sm:text-4xl sm:leading-10 md:text-6xl md:leading-14">
					All Posts</h1></div>
				<div class="flex sm:space-x-24">
					<div class="hidden h-full max-h-screen min-w-[280px] max-w-[280px] flex-wrap overflow-auto rounded bg-gray-50 pt-5 shadow-md   sm:flex">
						<div class="px-6 py-4"><h3 class="font-bold uppercase text-primary-500">All Posts</h3>
							<ul>
								<li class="my-3"><a
										class="px-3 py-2 text-sm font-medium uppercase text-gray-500 hover:text-primary-500  "
										aria-label="View posts tagged next-js" href="/tags/next-js">next-js (6)</a></li>
								<li class="my-3"><a
										class="px-3 py-2 text-sm font-medium uppercase text-gray-500 hover:text-primary-500  "
										aria-label="View posts tagged guide" href="/tags/guide">guide (5)</a></li>
								<li class="my-3"><a
										class="px-3 py-2 text-sm font-medium uppercase text-gray-500 hover:text-primary-500  "
										aria-label="View posts tagged tailwind" href="/tags/tailwind">tailwind (3)</a>
								</li>
								<li class="my-3"><a
										class="px-3 py-2 text-sm font-medium uppercase text-gray-500 hover:text-primary-500  "
										aria-label="View posts tagged feature" href="/tags/feature">feature (2)</a></li>
								<li class="my-3"><a
										class="px-3 py-2 text-sm font-medium uppercase text-gray-500 hover:text-primary-500  "
										aria-label="View posts tagged markdown" href="/tags/markdown">markdown (1)</a>
								</li>
								<li class="my-3"><a
										class="px-3 py-2 text-sm font-medium uppercase text-gray-500 hover:text-primary-500  "
										aria-label="View posts tagged code" href="/tags/code">code (1)</a></li>
								<li class="my-3"><a
										class="px-3 py-2 text-sm font-medium uppercase text-gray-500 hover:text-primary-500  "
										aria-label="View posts tagged features" href="/tags/features">features (1)</a>
								</li>
								<li class="my-3"><a
										class="px-3 py-2 text-sm font-medium uppercase text-gray-500 hover:text-primary-500  "
										aria-label="View posts tagged math" href="/tags/math">math (1)</a></li>
								<li class="my-3"><a
										class="px-3 py-2 text-sm font-medium uppercase text-gray-500 hover:text-primary-500  "
										aria-label="View posts tagged ols" href="/tags/ols">ols (1)</a></li>
								<li class="my-3"><a
										class="px-3 py-2 text-sm font-medium uppercase text-gray-500 hover:text-primary-500  "
										aria-label="View posts tagged github" href="/tags/github">github (1)</a></li>
								<li class="my-3"><a
										class="px-3 py-2 text-sm font-medium uppercase text-gray-500 hover:text-primary-500  "
										aria-label="View posts tagged holiday" href="/tags/holiday">holiday (1)</a></li>
								<li class="my-3"><a
										class="px-3 py-2 text-sm font-medium uppercase text-gray-500 hover:text-primary-500  "
										aria-label="View posts tagged canada" href="/tags/canada">canada (1)</a></li>
								<li class="my-3"><a
										class="px-3 py-2 text-sm font-medium uppercase text-gray-500 hover:text-primary-500  "
										aria-label="View posts tagged images" href="/tags/images">images (1)</a></li>
								<li class="my-3"><a
										class="px-3 py-2 text-sm font-medium uppercase text-gray-500 hover:text-primary-500  "
										aria-label="View posts tagged writings" href="/tags/writings">writings (1)</a>
								</li>
								<li class="my-3"><a
										class="px-3 py-2 text-sm font-medium uppercase text-gray-500 hover:text-primary-500  "
										aria-label="View posts tagged book" href="/tags/book">book (1)</a></li>
								<li class="my-3"><a
										class="px-3 py-2 text-sm font-medium uppercase text-gray-500 hover:text-primary-500  "
										aria-label="View posts tagged reflection" href="/tags/reflection">reflection
									(1)</a></li>
								<li class="my-3"><a
										class="px-3 py-2 text-sm font-medium uppercase text-gray-500 hover:text-primary-500  "
										aria-label="View posts tagged multi-author" href="/tags/multi-author">multi-author
									(1)</a></li>
							</ul>
						</div>
					</div>
					<div>
						<ul>
							<li class="py-5">
								<article class="flex flex-col space-y-2 xl:space-y-0">
									<dl>
										<dt class="sr-only">Published on</dt>
										<dd class="text-base font-medium leading-6 text-gray-500 ">
											<time datetime="2023-08-05T00:00:00.000Z">August 5, 2023</time>
										</dd>
									</dl>
									<div class="space-y-3">
										<div><h2 class="text-2xl font-bold leading-8 tracking-tight"><a
												class="text-gray-900 "
												href="/blog/release-of-tailwind-nextjs-starter-blog-v2.0">Release of
											Tailwind Nextjs Starter Blog v2.0</a></h2>
											<div class="flex flex-wrap"><a
													class="mr-3 text-sm font-medium uppercase text-primary-500 hover:text-primary-600 "
													href="/tags/next-js">next-js</a><a
													class="mr-3 text-sm font-medium uppercase text-primary-500 hover:text-primary-600 "
													href="/tags/tailwind">tailwind</a><a
													class="mr-3 text-sm font-medium uppercase text-primary-500 hover:text-primary-600 "
													href="/tags/guide">guide</a><a
													class="mr-3 text-sm font-medium uppercase text-primary-500 hover:text-primary-600 "
													href="/tags/feature">feature</a></div>
										</div>
										<div class="prose max-w-none text-gray-500 ">Release of
											Tailwind Nextjs Starter Blog template v2.0, refactored with Nextjs App
											directory and React Server Components setup.Discover the new features and
											how to migrate from V1.
										</div>
									</div>
								</article>
							</li>
							<li class="py-5">
								<article class="flex flex-col space-y-2 xl:space-y-0">
									<dl>
										<dt class="sr-only">Published on</dt>
										<dd class="text-base font-medium leading-6 text-gray-500 ">
											<time datetime="2021-08-07T15:32:14.000Z">August 7, 2021</time>
										</dd>
									</dl>
									<div class="space-y-3">
										<div><h2 class="text-2xl font-bold leading-8 tracking-tight"><a
												class="text-gray-900 "
												href="/blog/new-features-in-v1">New features in v1</a></h2>
											<div class="flex flex-wrap"><a
													class="mr-3 text-sm font-medium uppercase text-primary-500 hover:text-primary-600 "
													href="/tags/next-js">next-js</a><a
													class="mr-3 text-sm font-medium uppercase text-primary-500 hover:text-primary-600 "
													href="/tags/tailwind">tailwind</a><a
													class="mr-3 text-sm font-medium uppercase text-primary-500 hover:text-primary-600 "
													href="/tags/guide">guide</a></div>
										</div>
										<div class="prose max-w-none text-gray-500 ">An overview of
											the new features released in v1 - code block copy, multiple authors,
											frontmatter layout and more
										</div>
									</div>
								</article>
							</li>
							<li class="py-5">
								<article class="flex flex-col space-y-2 xl:space-y-0">
									<dl>
										<dt class="sr-only">Published on</dt>
										<dd class="text-base font-medium leading-6 text-gray-500 ">
											<time datetime="2021-05-02T00:00:00.000Z">May 2, 2021</time>
										</dd>
									</dl>
									<div class="space-y-3">
										<div><h2 class="text-2xl font-bold leading-8 tracking-tight"><a
												class="text-gray-900 "
												href="/blog/nested-route/introducing-multi-part-posts-with-nested-routing">Introducing
											Multi-part Posts with Nested Routing</a></h2>
											<div class="flex flex-wrap"><a
													class="mr-3 text-sm font-medium uppercase text-primary-500 hover:text-primary-600 "
													href="/tags/multi-author">multi-author</a><a
													class="mr-3 text-sm font-medium uppercase text-primary-500 hover:text-primary-600 "
													href="/tags/next-js">next-js</a><a
													class="mr-3 text-sm font-medium uppercase text-primary-500 hover:text-primary-600 "
													href="/tags/feature">feature</a></div>
										</div>
										<div class="prose max-w-none text-gray-500 ">The blog template
											supports posts in nested sub-folders. This can be used to group posts of
											similar content e.g. a multi-part course. This post is itself an example of
											a nested route!
										</div>
									</div>
								</article>
							</li>
							<li class="py-5">
								<article class="flex flex-col space-y-2 xl:space-y-0">
									<dl>
										<dt class="sr-only">Published on</dt>
										<dd class="text-base font-medium leading-6 text-gray-500 ">
											<time datetime="2021-01-12T00:00:00.000Z">January 12, 2021</time>
										</dd>
									</dl>
									<div class="space-y-3">
										<div><h2 class="text-2xl font-bold leading-8 tracking-tight"><a
												class="text-gray-900 "
												href="/blog/introducing-tailwind-nextjs-starter-blog">Introducing
											Tailwind Nextjs Starter Blog</a></h2>
											<div class="flex flex-wrap"><a
													class="mr-3 text-sm font-medium uppercase text-primary-500 hover:text-primary-600 "
													href="/tags/next-js">next-js</a><a
													class="mr-3 text-sm font-medium uppercase text-primary-500 hover:text-primary-600 "
													href="/tags/tailwind">tailwind</a><a
													class="mr-3 text-sm font-medium uppercase text-primary-500 hover:text-primary-600 "
													href="/tags/guide">guide</a></div>
										</div>
										<div class="prose max-w-none text-gray-500 ">Looking for a
											performant, out of the box template, with all the best in web technology to
											support your blogging needs? Checkout the Tailwind Nextjs Starter Blog
											template.
										</div>
									</div>
								</article>
							</li>
							<li class="py-5">
								<article class="flex flex-col space-y-2 xl:space-y-0">
									<dl>
										<dt class="sr-only">Published on</dt>
										<dd class="text-base font-medium leading-6 text-gray-500 ">
											<time datetime="2020-12-21T00:00:00.000Z">December 21, 2020</time>
										</dd>
									</dl>
									<div class="space-y-3">
										<div><h2 class="text-2xl font-bold leading-8 tracking-tight"><a
												class="text-gray-900 "
												href="/blog/deriving-ols-estimator">Deriving the OLS Estimator</a></h2>
											<div class="flex flex-wrap"><a
													class="mr-3 text-sm font-medium uppercase text-primary-500 hover:text-primary-600 "
													href="/tags/next-js">next-js</a><a
													class="mr-3 text-sm font-medium uppercase text-primary-500 hover:text-primary-600 "
													href="/tags/math">math</a><a
													class="mr-3 text-sm font-medium uppercase text-primary-500 hover:text-primary-600 "
													href="/tags/ols">ols</a></div>
										</div>
										<div class="prose max-w-none text-gray-500 ">How to derive the
											OLS Estimator with matrix notation and a tour of math typesetting using
											markdown with the help of KaTeX.
										</div>
									</div>
								</article>
							</li>
						</ul>
						<div class="space-y-2 pb-8 pt-6 md:space-y-5">
							<nav class="flex justify-between">
								<button class="cursor-auto disabled:opacity-50" disabled="">Previous</button>
								<span>1 of 2</span><a rel="next" href="/blog/page/2">Next</a></nav>
						</div>
					</div>
				</div>
			</div>
		</main>
		<footer>
			<div class="mt-16 flex flex-col items-center">
				<div class="mb-3 flex space-x-4"><a class="text-sm text-gray-500 transition hover:text-gray-600"
				                                    target="_blank" rel="noopener noreferrer"
				                                    href="mailto:address@yoursite.com"><span class="sr-only">mail</span>
				</a><a class="text-sm text-gray-500 transition hover:text-gray-600" target="_blank"
				       rel="noopener noreferrer" href="https://github.com"><span class="sr-only">github</span>

				</a><a class="text-sm text-gray-500 transition hover:text-gray-600" target="_blank"
				       rel="noopener noreferrer" href="https://facebook.com"><span class="sr-only">facebook</span>

				</a><a class="text-sm text-gray-500 transition hover:text-gray-600" target="_blank"
				       rel="noopener noreferrer" href="https://youtube.com"><span class="sr-only">youtube</span>

				</a><a class="text-sm text-gray-500 transition hover:text-gray-600" target="_blank"
				       rel="noopener noreferrer" href="https://www.linkedin.com"><span class="sr-only">linkedin</span>

				</a><a class="text-sm text-gray-500 transition hover:text-gray-600" target="_blank"
				       rel="noopener noreferrer" href="https://twitter.com/x"><span class="sr-only">x</span>

				</a><a class="text-sm text-gray-500 transition hover:text-gray-600" target="_blank"
				       rel="noopener noreferrer" href="https://www.instagram.com"><span class="sr-only">instagram</span>

				</a><a class="text-sm text-gray-500 transition hover:text-gray-600" target="_blank"
				       rel="noopener noreferrer" href="https://www.threads.net"><span class="sr-only">threads</span>

				</a></div>
				<div class="mb-2 flex space-x-2 text-sm text-gray-500 ">
					<div>Tails Azimuth</div>
					<div> •</div>
					<div>© 2024</div>
					<div> •</div>
					<a href="/">Next.js Starter Blog</a></div>
				<div class="mb-8 text-sm text-gray-500 "><a target="_blank" rel="noopener noreferrer"
				                                                              href="https://github.com/timlrx/tailwind-nextjs-starter-blog">Tailwind
					Nextjs Theme</a></div>
			</div>
		</footer>
	</div>
</section>

</body>
</html>