<html lang="en-us" class="__variable_587f35 scroll-smooth light" style="color-scheme: light;">
<head>
	<link rel="stylesheet" href="output.css" data-precedence="next">
</head>
<body class="bg-white pl-[calc(100vw-100%)] text-black antialiased  ">
<section class="mx-auto max-w-3xl px-4 sm:px-6 xl:max-w-5xl xl:px-0">
	<div class="flex h-screen flex-col justify-between font-sans">
		<header class="flex items-center justify-between py-10">
			<div><a aria-label="TailwindBlog" href="/">
				<div class="flex items-center justify-between">
					<div class="mr-3">
						<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="53.87"
						     height="43.61" viewBox="344.564 330.278 111.737 91.218">
							<defs>
								<linearGradient id="logo_svg__b" x1="420.97" x2="420.97" y1="331.28" y2="418.5"
								                gradientUnits="userSpaceOnUse">
									<stop offset="0%" style="stop-color:#06b6d4;stop-opacity:1"></stop>
									<stop offset="100%" style="stop-color:#67e8f9;stop-opacity:1"></stop>
								</linearGradient>
								<linearGradient id="logo_svg__d" x1="377.89" x2="377.89" y1="331.28" y2="418.5"
								                gradientUnits="userSpaceOnUse">
									<stop offset="0%" style="stop-color:#06b6d4;stop-opacity:1"></stop>
									<stop offset="100%" style="stop-color:#67e8f9;stop-opacity:1"></stop>
								</linearGradient>
								<path id="logo_svg__a" d="M453.3 331.28v28.57l-64.66 58.65v-30.08z"></path>
								<path id="logo_svg__c" d="M410.23 331.28v28.57l-64.67 58.65v-30.08z"></path>
							</defs>
							<use xlink:href="#logo_svg__a" fill="url(#logo_svg__b)"></use>
							<use xlink:href="#logo_svg__c" fill="url(#logo_svg__d)"></use>
						</svg>
					</div>
					<div class="hidden h-6 text-2xl font-semibold sm:block">SpringBlog</div>
				</div>
			</a></div>
			<div class="flex items-center space-x-4 leading-5 sm:space-x-6"><a
					class="hidden font-medium text-gray-900  sm:block" href="/blog">Blog</a><a
					class="hidden font-medium text-gray-900  sm:block" href="/categories">Categories</a><a
					class="hidden font-medium text-gray-900  sm:block" href="/about">About</a>
				<a href="/logout" class="inline-block px-10 py-4 text-lg sm:block font-bold text-white bg-gradient-to-r from-red-500 to-red-700 rounded-full shadow-lg transform transition-transform duration-300 hover:from-red-600 hover:to-red-800 hover:scale-105 active:from-red-700 active:to-red-900">
					Logout
				</a>


			</div>
		</header>
		<main class="mb-auto">
			<div class="flex flex-col items-start justify-start divide-y divide-gray-200  md:mt-24 md:flex-row md:items-center md:justify-center md:space-x-6 md:divide-y-0">
				<div class="space-x-2 pb-8 pt-6 md:space-y-5"><h1
						class="text-3xl font-extrabold leading-9 tracking-tight text-gray-900  sm:text-4xl sm:leading-10 md:border-r-2 md:px-6 md:text-6xl md:leading-14">
					Categories</h1></div>
				<div class="flex max-w-lg flex-wrap">
					<div class="mb-2 mr-5 mt-2" th:each="category : ${categories}"><a
							class="mr-3 text-sm font-medium uppercase text-primary-500 hover:text-primary-600 "
							th:href="@{'/categories/'+${category.categoryName}+'/posts'}"
							th:text="${category.categoryName} + ' (' + ${category.getPosts().size()} +')'">next-js</a></div>
				</div>

					<a href="/categories/crud" class="inline-block bg-gradient-to-r from-blue-400 to-blue-300 hover:from-blue-300 hover:to-blue-200 text-white font-bold py-2 px-4 rounded shadow-md hover:shadow-lg transition duration-300">
						Manage
					</a>



			</div>
		</main>
		<footer>
			<div class="mt-16 flex flex-col items-center">
				<div class="mb-2 flex space-x-2 text-sm text-gray-500 ">
					<div>Tails Azimuth</div>
					<div> •</div>
					<div>© 2024</div>
					<div> •</div>
					<a href="/">Next.js Starter Blog</a></div>
				<div class="mb-8 text-sm text-gray-500 "><a target="_blank" rel="noopener noreferrer"
				                                                              href="https://github.com/timlrx/tailwind-nextjs-starter-blog">Tailwind
					Nextjs Theme</a></div>
			</div>
		</footer>
	</div>
</section>
</body>
</html>