<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8"></meta>
    <title>Gestion des produits</title>
</head>
<body>
<header>

    <div class="navbar navbar-default">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li><a th:href="@{index}">Chercher</a></li>
                <li><a th:href="@{form}">Produits</a></li>
            </ul><!-- '#' pour dire à thymeleaf que httpServletRequest est un objet intrinsèque faisant partie des objets générés par la Servlet -->
        </div>
    </div>
</header>
<section layout:fragment="content">

</section>

<footer class="navbar-fixed-bottom">
    <hr />
    <div class="container bottomspacer">
        <small>Copyright 2024.</small>
    </div>
</footer>
</body>
</html>