<!DOCTYPE html>
<html lang="en" ,
          xlmns:th="http://www.thymeleaf.org"
      xmlns:xlmns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Blog Project</title>
    </head>


    <body>
    <div layout:fragment="content">
        <div>
            <form th:action="@{index}" method="get">
                <label>Search : </label>
                <input type="text" name="motcle" th:value="${motcle}"/>
                <button>chetcher</button>
            </form>
        </div>

        <a th:href="@{/form}">Add Post</a>

        <div>
            <h1>Test</h1>
            <table border="1">
                <thead>
                     <tr>
                         <th>ID</th><th>title</th><th>author</th><th>Images</th>
                     </tr>
                </thead>

                <tbody>
                    <tr th:each = "p:${listPosts}">
                        <td th:text="${p.id}"></td>
                        <td th:text="${p.title}"></td>
                        <td th:text="${p.author.username}"></td>
                        <td>

                            <img th:src="@{'/images/' + ${p.image}}" style="width: 100px; height: 100px;" >
                        </td>
                         <td><a th:href="@{'/post/' + ${p.id}}">View</a></td>

                        <td><a th:href="@{edit(id=${p.id})}">Edit</a></td>
                        <td><a onclick="return alert('etes vous sure?')"
                        th:href="@{delete(id=${p.id},page=${pagesCourante},size=${size},motcle=${size})}" >Delete</a></td>

                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <ul>
                <li th:each="pa,status:${pages}">
                    <a th:href="@{index(page=${status.index},size=${size},motcle=${motcle})}"  th:text="${status.index}"></a>
                </li>
            </ul>
        </div>
            <p>This is a very basic example of an HTML page.</p>
            <p>You can replace this content with your own.</p>
            <a href="https://www.example.com">Visit Example.com</a>
    </div>
    </body>
</html>
