<html lang="en-us" class="__variable_587f35 scroll-smooth light" style="color-scheme: light;">
<head>
	<link rel="stylesheet" href="/output.css">
</head>
<body class="bg-white pl-[calc(100vw-100%)] text-black antialiased  " style="">
<script>
    !function () {
        try {
            var d = document.documentElement, c = d.classList;
            c.remove('dark');
            c.add('light');
            d.style.colorScheme = 'light';
        } catch (e) {
            console.error(e);
        }
    }()
</script>

<section class="mx-auto max-w-3xl px-4 sm:px-6 xl:max-w-5xl xl:px-0">
	<div class="flex h-screen flex-col justify-between font-sans">
		<header class="flex items-center justify-between py-10">
			<div><a aria-label="TailwindBlog" href="/">
				<div class="flex items-center justify-between">
					<div class="mr-3">
						<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="53.87"
						     height="43.61" viewBox="344.564 330.278 111.737 91.218">
							<defs>
								<linearGradient id="logo_svg__b" x1="420.97" x2="420.97" y1="331.28" y2="418.5"
								                gradientUnits="userSpaceOnUse">
									<stop offset="0%" style="stop-color:#06b6d4;stop-opacity:1"></stop>
									<stop offset="100%" style="stop-color:#67e8f9;stop-opacity:1"></stop>
								</linearGradient>
								<linearGradient id="logo_svg__d" x1="377.89" x2="377.89" y1="331.28" y2="418.5"
								                gradientUnits="userSpaceOnUse">
									<stop offset="0%" style="stop-color:#06b6d4;stop-opacity:1"></stop>
									<stop offset="100%" style="stop-color:#67e8f9;stop-opacity:1"></stop>
								</linearGradient>
								<path id="logo_svg__a" d="M453.3 331.28v28.57l-64.66 58.65v-30.08z"></path>
								<path id="logo_svg__c" d="M410.23 331.28v28.57l-64.67 58.65v-30.08z"></path>
							</defs>
							<use xlink:href="#logo_svg__a" fill="url(#logo_svg__b)"></use>
							<use xlink:href="#logo_svg__c" fill="url(#logo_svg__d)"></use>
						</svg>
					</div>
					<div class="hidden h-6 text-2xl font-semibold sm:block">SpringBlog</div>
				</div>
			</a></div>
			<div class="flex items-center space-x-4 leading-5 sm:space-x-6"><a
					class="hidden font-medium text-gray-900  sm:block" href="/blog">Blog</a><a
					class="hidden font-medium text-gray-900  sm:block" href="/categories">Categories</a><a
					class="hidden font-medium text-gray-900  sm:block" href="/about">About</a>
				<a href="/logout" class="inline-block px-10 py-4 text-lg sm:block font-bold text-white bg-gradient-to-r from-red-500 to-red-700 rounded-full shadow-lg transform transition-transform duration-300 hover:from-red-600 hover:to-red-800 hover:scale-105 active:from-red-700 active:to-red-900">
					Logout
				</a>


			</div>
		</header>
		<main class="mb-auto">
			<div>
				<div class="pb-6 pt-6"><h1
						class="text-3xl font-extrabold leading-9 tracking-tight text-gray-900  sm:hidden sm:text-4xl sm:leading-10 md:text-6xl md:leading-14">
					All Posts</h1></div>
				<div class="flex sm:space-x-24">
					<div class="hidden h-full max-h-screen min-w-[280px] max-w-[280px] flex-wrap overflow-auto rounded bg-gray-50 pt-5 shadow-md   sm:flex">
						<div class="px-6 py-4"><h3 class="font-bold uppercase text-primary-500"
						                           >
							<a href="/blog">All posts</a> </h3>
							<ul>
								<li class="my-3" th:each="category : ${categories}"><a
										class="px-3 py-2 text-sm font-medium uppercase text-gray-500 hover:text-primary-500  "
										aria-label="View posts tagged next-js" th:href="@{'/categories/'+${category.categoryName}+'/posts'}"
										th:text="${category.categoryName} + ' (' + ${category.getPosts().size()} +')'"></a></li>

							</ul>
						</div>
					</div>
					<div>
						<h2
								class="text-3xl font-extrabold leading-9 tracking-tight text-gray-900  sm:text-4xl sm:leading-10 md:text-6xl md:leading-14"
								th:text="${here}">
							</h2>
						<ul>
							<li th:each="post : ${posts}" class="py-5">
								<article class="flex flex-col space-y-2 xl:space-y-0">

									<div class="flex space-x-3">
										<img th:src="@{'/images/' + ${post.image}}" style=" width: 200px; height: 150px; object-fit: cover;">
										<div><h2 class="text-2xl font-bold leading-8 tracking-tight"><a
												class="text-gray-900 "
												th:text="${post.title}"
												th:href="@{'/post/' + ${post.id}}"></a></h2>
											<div class="flex flex-wrap" th:if="${post.category != null}">
												<a class="mr-3 text-sm font-medium uppercase text-primary-500 hover:text-primary-600"
												   th:text="${post.category.categoryName}"
												   th:href="@{'/categories/'+${post.category.categoryName}+'/posts'}">
												</a>
											</div>
											<dl>
												<dt class="sr-only">Published on</dt>
												<dd class="text-base font-medium leading-6 text-gray-500 ">
													<time th:datetime="${post.postedOn}" th:text="'Published by ' + ${post.author.username} + ' on ' + ${#dates.format(post.postedOn, 'EEEE, MMMM d, yyyy')}"></time>

												</dd>
											</dl>
										</div>
										<div class="prose max-w-none text-gray-500 ">
										</div>
									</div>
								</article>
							</li>

						</ul>
						<div class="space-y-2 pb-8 pt-6 md:space-y-5">
							<nav class="flex justify-between">
								<a th:if="${pagesCourante > 1}"
								   th:href="@{|/categories/${categoryName}/posts?page=${pagesCourante - 1}}"
								   class="enabled:opacity-100">Previous</a>
								<button th:if="${pagesCourante <= 1}"
								        class="cursor-auto disabled:opacity-50"
								        disabled>Previous</button>

								<span th:text="${pagesCourante} + ' of ' + ${pages.length}"></span>

								<a th:if="${pagesCourante < pages.length}"
								   th:href="@{|/categories/${categoryName}/posts?page=${pagesCourante + 1}|}"
								   class="enabled:opacity-100">Next</a>
								<button th:if="${pagesCourante >= pages.length}"
								        class="cursor-auto disabled:opacity-50"
								        disabled>Next</button>
							</nav>
						</div>

					</div>
				</div>
			</div>
		</main>
		<footer>
			<div class="mt-16 flex flex-col items-center">
				<div class="mb-3 flex space-x-4"><a class="text-sm text-gray-500 transition hover:text-gray-600"
				                                    target="_blank" rel="noopener noreferrer"
				                                    href="mailto:address@yoursite.com"><span class="sr-only">mail</span>
				</a><a class="text-sm text-gray-500 transition hover:text-gray-600" target="_blank"
				       rel="noopener noreferrer" href="https://github.com"><span class="sr-only">github</span>

				</a><a class="text-sm text-gray-500 transition hover:text-gray-600" target="_blank"
				       rel="noopener noreferrer" href="https://facebook.com"><span class="sr-only">facebook</span>

				</a><a class="text-sm text-gray-500 transition hover:text-gray-600" target="_blank"
				       rel="noopener noreferrer" href="https://youtube.com"><span class="sr-only">youtube</span>

				</a><a class="text-sm text-gray-500 transition hover:text-gray-600" target="_blank"
				       rel="noopener noreferrer" href="https://www.linkedin.com"><span class="sr-only">linkedin</span>

				</a><a class="text-sm text-gray-500 transition hover:text-gray-600" target="_blank"
				       rel="noopener noreferrer" href="https://twitter.com/x"><span class="sr-only">x</span>

				</a><a class="text-sm text-gray-500 transition hover:text-gray-600" target="_blank"
				       rel="noopener noreferrer" href="https://www.instagram.com"><span class="sr-only">instagram</span>

				</a><a class="text-sm text-gray-500 transition hover:text-gray-600" target="_blank"
				       rel="noopener noreferrer" href="https://www.threads.net"><span class="sr-only">threads</span>

				</a></div>
				<div class="mb-2 flex space-x-2 text-sm text-gray-500 ">
					<div>Tails Azimuth</div>
					<div> •</div>
					<div>© 2024</div>
					<div> •</div>
					<a href="/">Next.js Starter Blog</a></div>
				<div class="mb-8 text-sm text-gray-500 "><a target="_blank" rel="noopener noreferrer"
				                                                              href="https://github.com/timlrx/tailwind-nextjs-starter-blog">Tailwind
					Nextjs Theme</a></div>
			</div>
		</footer>
	</div>
</section>

</body>
</html>